body {
  padding: 0;
  margin: 0;
}
span {
  font-style: italic;
}
/* Content */
.list-container {
  display: inline-block;
  border-style: solid;
  border-width: 0.5px;
  padding-right: 20px;
}
.list-container > p {
  text-align: center;
  font-weight: bold;
}
.img-container {
  float: right;
  border-style: solid;
  border-width: 0.5px;
  padding: 5px;
  margin-left: 20px;
  width: 300px;
}
.img-container-div {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.div-container-div {
  display: flex;
  flex-direction: row;
}
/* Top Navigation Panel */
.nav-container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(floralwhite, lightblue);
}
.nav-container>nav>ul {
  display: flex;
  list-style:none;
  align-items: center;
  padding: 0;
  margin: 0;
}
.nav-container>nav>ul>li>a {
  display: block;
  padding: 10px;
  border-style: solid;
  border-width: 0.5px;
}


@media(max-width: 1050px) {
  .nav-container {
    flex-direction: column;
  }
}

.text-page {
  padding-left: 20px;
}

.page {
  display: flex;
  justify-content: center;
}

.header {
  width: 15%;
  background-color: floralwhite;
}

.section {
  width: 80%;
}

/* Header */
.header>div {
  width: 100%;
}
.header>div>img {
  width: 100%;
}
.header>ol {
  list-style: none;
  border-bottom-style: solid;
  border-width: 0.5px;
  margin: 10px;
  padding: 10px;
}
